@import "reset.scss";
@import "normalize.scss";
@import "typography.scss";
@import "libs";
@import "vars";
@import "fonts";


@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content};
}





body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666
  }
body input:required:valid,
body textarea:required:valid{
	color: #666
}
html, body{
	height: 100%
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	font-family: $base-font-family;
	overflow-x: hidden;
	opacity: 1;
  background: $body-color-bg;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.pryam_treugolnik_left {
  position: absolute;
  top: 0;
  bottom: 0;
	width: 0;
  height: 0;
  border-style: solid;
  border-width: 0em 50em 50em 6em;
  border-color: transparent transparent $pink-color $pink-color;
}
.pryam_treugolnik_right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20em 0em 30em 38em;
    border-color: rgba(236, 236, 236, 1) $pink-color $pink-color rgba(236, 236, 236, 1);
}
  .dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgba(255, 109, 109, 1);
    margin-right: 7px;
  }
.dots-box{
  position: relative;
  margin: 0 auto;
  height: 1px;
  background-color: transparent;
  margin: 0 0 3px;
  span{
    display: inline-block;
    width: 9px;
    height: 9px;
    border-bottom: 2px solid $pink-color;
    -webkit-transform: rotate(45deg); 
    position: absolute;
    bottom: 0;
  }
  .line1{
    left: 47%;
  }
  .line2{
    left: 50%;
  }
  .line3{
    left: 53%;
  }
}
  .btn-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(144, 144, 145,1);
    .fa{
      color: #fff;
      background-color:rgba(129, 133, 163, 1); 
      font-size: 2.5em;
      margin: 0 0 38px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      line-height: 1.5;
      padding-left: 6px;
      &:hover{
        cursor: pointer;
      }
    }
    button{
      width: 18%;
      height: 47px;
      background-color: rgba(255, 109, 109, 1);
      border: none;
      border-radius: 3px;
      font-weight: 900;
      color: #fff;
      outline: none;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
      margin: 0 0 15px;
    }
  }
//-------------------------------------
// 01 HEADER
// 02 3-columns
// 00 MEDIA
//-------------------------------------
.wraper{
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
.section{
  margin: 0 auto;
  font-size: 16px;
  overflow: hidden;
  color: rgba(138, 138, 138,1);
  text-align: center;
}
.section-1{
  .columns-2{
    padding: 180px 0 160px;
  }
}
.section-2{
  .wraper{
  padding: 105px 0 0;
  background-color: $section-bg;
  }
  .description{
    margin: 0 auto 20px;
  }
  .description-2{
    margin: 0 auto 90px;
    padding: 0 25%;
  }
}
//-------------------------------------
// 01 HEADER
//-------------------------------------
#header{
  text-align: center;
  height: 810px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  h1{
    font-size: 60px;
    font-family: $exo-thin-font;
      margin: 0 0 0.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
  .header-bg{
  padding: 215px 0 0;
  }
}
//-------------------------------------
// 02 ICON
//-------------------------------------

.picture-holder{
  width: 65px;
  height: 65px;
  margin: 0 auto 30px;
  

  &.icon-1{
    background-image: url(../img/icon-1.png);
  }
  &.icon-2{
    background-image: url(../img/icon-2.png);
  }
  &.icon-3{
    background-image: url(../img/icon-3.png);
  }
}
//-------------------------------------
// 03 IMAGE-HOLDER, IMAGE-BOX
//-------------------------------------
.img-holder{
  position: absolute;
  width: 0;
  padding: 10%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  &.img-holder-1{
    background-image: url(../img/pen-holder.png);
    top: -2%;
    background-color: transparent;
  }
   &.img-holder-2{
     background-image: url(../img/phonehear1.png);
     top: -1%;
     right: 4%;
  }
  // &.img-holder-2{
  //    background-image: url(../img/phonehear.png);
  //    top: -5%;
  //    right: 6%;
  //    background-color: transparent;
  //  }
  &.img-holder-3{
    background-image: url(../img/coffee-cup1.png);
    bottom: -5.5%;
    right: 8%;
    padding: 5%;
  }
}
.img-container{
  height: 360px;
}
.img-wraper{
  position: absolute;
  width: 42%;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 4%;
}
.img-box-1{
  background-image: url(../img/browser.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  height: 100%;
}
.img-box-2{
  background-image: url(../img/macbook.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

//-------------------------------------
// 03 COLUMNS-2
//-------------------------------------

.columns-2{
  text-align: left;
  padding: 100px 0;
  p{
    margin: 0 0 1.25em;
  }
}
//-------------------------------------
// 04 COLUMNS-3
//-------------------------------------
.columns-3{
  text-align: center;
  color: rgba(133, 133, 132, 1);
  background-color: $section-bg;
  line-height: 1.7;
  padding: 130px 0 180px;
  .content-holder{
    p{
      padding: 0 20px;
    }
  }
}
//-------------------------------------
// 05 CLIENTS
//-------------------------------------
.clients{
  background-image: url(../img/clients-bg.jpg);
  color: #fff;
  padding: 110px 0 70px;
  background-repeat: no-repeat;
  background-size: cover;
  
  .picture-holder{
    width: 76px;
    height: 76px;
    margin: 0 auto 20px;
  }
  .picture-1{
    background-image: url(../img/client-1-75x75.jpg);
  }
  .picture-2{
    background-image: url(../img/client-2-75x75.jpg);
  }
  .picture-3{
    background-image: url(../img/client-3-75x75.jpg);
  }
  .name{
    font-size: 22px;
    line-height: 1;
    margin: 0 auto 5px;
  }
  .position{
    color: $pink-color;
  }
  .feature{
    color: #adadaf;
  }
  .client-logo{
    display: flex;
    justify-content: space-between;
    padding:68px 68px 0;
    li{
      width: 20%;
      padding: 10% 0 0;
      margin: 0 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      filter: brightness(0) invert(0.5);
      background-size: contain;
    }
  }
  .client-logo-1{
    background-image: url(../img/partner-logo-1.png);
  }
  .client-logo-2{
    background-image: url(../img/partner-logo-4.png);
  }
  .client-logo-3{
    background-image: url(../img/partner-logo-5.png);
  }
  .client-logo-4{
    background-image: url(../img/partner-logo-7.png);
  }
  .client-logo-5{
    background-image: url(../img/partner-logo-8.png);
  }
}

//-------------------------------------
// 00 FORM
//-------------------------------------
.form-inline{
    margin: 0 0 45px;
    input{
      width: 100%;
      height: 47px;
      padding: 3px 25px 0;
      outline: rgba(255, 255, 255, 1);
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      border: none;
      border: 1px solid $form-border;
      border-radius: 3px;
      margin: 0 0 15px;
    }
    button{
      width: 100%;
      height: 47px;
      background-color: rgba(255, 109, 109, 1);
      border: none;
      border-radius: 3px;
      font-weight: 900;
      color: #fff;
      outline: none;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }
  }
//-------------------------------------
// 00 SUBSCRIBE-HOLDER
//-------------------------------------

.subscription-holder{
  padding: 90px 0 80px;
  background-color: $subsection-bg;
  text-align: center;
  @include placeholder {
  font-family: $exo-reg-font;
  font-size: $font-size-base;
  color: #f6f5f3;
  opacity: 0.8;
}
  h2{
  font-family: $exo-medium-font;
  color: rgba(255, 109, 109, 1);
  }
  p{
    color: #fff;
  }
  .signing{
    color: rgba(133, 133, 132, 1);
    a{
      color: rgba(133, 133, 132, 1);
      text-decoration: underline;
    }
  }
  
}
//-------------------------------------
// 00 FOOTER
//-------------------------------------
footer{
  padding: 90px 0;
  color: rgba(138, 138, 138,1);
  .form-inline{
    margin: 0 0 15px;
      input{
        width: 100%;
        height: 47px;
        padding: 3px 25px 0;
        outline: rgba(255, 255, 255, 1);
        background: rgba(0, 0, 0, 0.05);
        color: #000;
        border: none;
        border: 1px solid $form-border;
        border-radius: 3px;
        margin: 0;
        @include placeholder {
          font-family: $exo-reg-font;
          font-size: $font-size-base;
          color: rgba(0, 0, 0, 1);
          opacity: 0.8;
        }
      }
      .form-group{
        position: relative;
      }
      .form-btn{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 100%;
      }
  }
  .social-media-holder{
    display: flex;
    justify-content: center;
    .fa{
      color: rgba(0, 0, 0, 0.3);;
      font-size: 1.6em;
      margin: 0 12px;
    }
  }
  ul{
    li{
      margin: 7px 0;
    }
  }
  a{
    color: rgba(138, 138, 138,1);
  }
  .logo{
    display: inline-block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 45px;
    margin: 0 0 5px 5px;
  }
}
//-------------------------------------
// 00 MEDIA
//-------------------------------------
@import "media"; // Всегда в конце
